.trash/*
.obsidian/*
__pycache__/
*.py[oc]
build/
dist/
whells/
*.egg-info
rgg-table_Kanban-доска.md
schema_ver2.canvas
src/game_engine/tests/__pycache__
src/game_engine/tests/__pycache__/*
src/game_engine/__pycache__
src/game_engine/__pycache__/*
src/.env
log.txt
src/msig
src/config.json
src/game_rules.db
src/game_rules.json
game_rules.json
config.json
road_map.md
game_rules.json
src/game_engine/game_elements/__pycache__/*
src/game_engine/game_elements/__pycache__
*.pyc
src/.pytest_cache
src/.venv
src/tests/__pycache__/*
src/tests/__pycache__
