.trash/*
.obsidian/*
rgg-table_Kanban-доска.md
schema_ver2.canvas
src/game_engine/tests/__pycache__
src/game_engine/tests/__pycache__/*
src/game_engine/__pycache__
src/game_engine/__pycache__/*
src/.env
